<div>

  <ul class="columNames">
    <li>Вакансия</li>
    <li>Рекомендованная оплата (€/час)</li>
  </ul>
  <ul class="jobs__data-list">
    {{#each jobs}}
      <li class="jobs__data-item">
        <p>{{this.title}}</p>
        <p>{{this.salary}}</p>
      </li>
    {{/each}}
  </ul>
</div>