@use "../utils/variables" as *;
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin and padding */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* Reset list styles */
ol,
ul {
  list-style: none;
}

/* Reset anchor styles */
a {
  color: inherit;
  text-decoration: none;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font: inherit;
}
/* Make images and embedded objects responsive */

input,
textarea,
select {
  font: inherit;
}

/* Reset table styles */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  margin: 0;
}

svg {
  height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
nav {
  font-weight: 600;
  font-family: "Electrolize", serif;
  font-weight: 400;
  font-style: normal;

  font-family: "Tektur", serif;
  font-optical-sizing: auto;
  font-style: bold;
  font-variation-settings: "wdth" 100;

  text-transform: uppercase;
  color: $primary_white;
  font-size: 100px;
  text-align: center;
}
h1 {
  font-size: 32px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 18px;
  margin-bottom: 5px;
}
strong {
  color: $primary_white;
  font-weight: 700;
}
b {
  font-weight: 700;
}
a {
  text-decoration: none;
}
address {
  font-style: normal;
}

p {
  text-indent: 10px;
}

.custom-bullet {
  width: 20px;
  height: 20px;
  background:
    repeating-radial-gradient(#000 0 0.0001%, #fff 0 0.0002%) 50% 0/2500px
      2500px,
    repeating-conic-gradient(#000 0 0.0001%, #fff 0 0.0002%) 50% 50%/2500px
      2500px;
  background-blend-mode: difference;
  mix-blend-mode: lighten;
  color: #333;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
}

.custom-bullet:hover,
.custom-bullet.swiper-pagination-bullet-active {
  background: $primary_white;
  color: white;
}

.swiper-pagination {
  position: absolute;
  bottom: 5% !important;
  left: 50% !important;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  gap: 20px;
}
.scrollToTop {
  &-btn {
    cursor: pointer;
    display: inline-block;
    height: 70px;
    width: 70px;
    background-color: $bg_color;
    border: 1px solid $primary_white;
    border-radius: 50%;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1);
    position: fixed;
    bottom: 30px;
    right: 10px;

    transition: transform 500ms;
    &:hover {
      transform: scale(1.1);
      animation: boxShadowAnimation 5s ease-out forwards infinite;
    }
  }
  &-icon {
    height: 40px;
    width: 40px;
    transform: translate(-50%, -50%) rotate(180deg);
    transform-origin: center;
    position: absolute;
    top: 45%;
    left: 50%;
  }
}
.customScroll {
  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 5px;
  }

  &::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.1);
  }
}
.logo__link,
.scrollToTop-btn {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.logo__link.visible,
.scrollToTop-btn.visible {
  opacity: 1;
}

@keyframes boxShadowAnimation {
  0% {
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.15);
  }
  50% {
    box-shadow: 0 0 25px 30px rgba(255, 255, 255, 0.1);
  }
  100% {
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.15);
  }
}

@media screen and (min-width: 375px) {
}
@media screen and (min-width: 768px) {
  p {
    text-indent: 20px;
  }

  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 30px;
    line-height: 1.25;
  }
  h3 {
    font-size: 20px;
  }
  .scrollToTop {
    &-btn {
      bottom: 50px;
      right: 50px;
    }
  }
  .swiper-pagination {
    gap: 30px;
  }
}
@media screen and (min-width: 990px) {
}
@media screen and (min-width: 1280px) {
  p {
    text-indent: 30px;
  }
  .scrollToTop {
    &-btn {
      bottom: 100px;
    }
  }
}
@media screen and (min-width: 1440px) {
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 40px;
    line-height: 1.25;
  }
  h3 {
    font-size: 30px;
  }
}
@media screen and (min-width: 1920px) {
  h1 {
    font-size: 58px;
  }
  h2 {
    font-size: 42px;
    line-height: 1.25;
  }
  h3 {
    font-size: 34px;
    font-weight: 600;
  }
}
