.jobs {
  &__content {
    max-width: 100%;
  }
  &__table {
    overflow: auto;
    padding-right: 15px;
    max-height: 600px;
    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(255, 255, 255, 1);
      border-radius: 5px;
    }

    &::-webkit-scrollbar-track {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
  &__salary {
    text-align: start;
  }
}

@media screen and (min-width: 768px) {
  .jobs {
    &__content {
      max-width: auto;
    }
    &__table {
      max-height: 395px;
    }
    &__salary {
      text-align: center;
    }
  }
}
