<div class="about__container">
  <h2 class="about__title">Про нас</h2>
  <hr class="about__line" />
  <p>
    Мы работаем для того, чтобы граждане стран пост СНГ и Восточной Европы
    <span class="about__accent">законно</span> работали за рубежом,
    <span class="about__accent">стабильно</span>
    зарабатывали и были уверены в завтрашнем дне, а владельцы компаний и
    работодатели стран ЕС занимались развитием своего бизнеса,<span
      class="about__accent"
    >
      выгодно</span
    >
    и законно нанимали и трудоустраивали персонал не отвлекаясь на рутинные
    кадровые вопросы.
  </p>
  <h2 class="about__title">Чем мы можем быть вам полезными?</h2>
  <hr class="about__line" />
  <ul class="about__list">
    <li>
      <span class="about__accent"> Аутсорсинг </span>
      персонала
    </li>
    <li>
      <span class="about__accent"> Оформление </span>
      документов
    </li>
    <li>
      Квалифицированный международный
      <span class="about__accent"> рекрутинг </span>
    </li>
    <li>
      Юридическое и бухгалтерское
      <span class="about__accent"> сопровождение </span>

      на всех этапах сотрудничества
    </li>
  </ul>
</div>
