<div>
  <h2>Преимущества работы с нами:</h2>
  <ul>
    <li>
      Экономия времени и ресурсов Осуществляем быстрый подбор персонала, в том
      числе сезонных работников. Отвечаем за все этапы подбора и координацию на
      этапе трудоустройства.
    </li>
    <li>
      Гарантия качества Если подобранный работник не соответствует вашим
      ожиданиям, мы обеспечиваем замену кандидата без дополнительных затрат для
      вас.
    </li>
    <li>
      Широкая база кандидатов Работаем чтобы предоставить вам только проверенных
      работников, которые соответствуют вашим требованиям.
    </li>
    <li>
      Поддержка Предоставляем поддержку и консультирование персонально менеджера
      как вам, так и иностранным работникам на всех этапах подбора и
      трудоустройства.
    </li>
    <li>
      Оценка и подбор кандидатов. Ваши требования к работнику всегда учтены. Мы
      проводим собеседования, интервью и проверяем кандидата , чтобы выявить
      реальные навыки и опыт.
    </li>
  </ul>
</div>
