<div class="about__container">
  <h2>Преимущества работы с нами:</h2>
  <hr class="about__line partners__line" />
  <div class="swiper benefitsSwiper swiper-container">
    <ul class="swiper-wrapper">
      <li class="swiper-slide benefitsSwiper__slide">
        Экономия времени и ресурсов Осуществляем быстрый подбор персонала, в том
        числе сезонных работников. Отвечаем за все этапы подбора и координацию
        на этапе трудоустройства.
      </li>
      <li class="swiper-slide benefitsSwiper__slide">
        Гарантия качества Если подобранный работник не соответствует вашим
        ожиданиям, мы обеспечиваем замену кандидата без дополнительных затрат
        для вас.
      </li>
      <li class="swiper-slide benefitsSwiper__slide">
        Широкая база кандидатов Работаем чтобы предоставить вам только
        проверенных работников, которые соответствуют вашим требованиям.
      </li>
      <li class="swiper-slide benefitsSwiper__slide">
        Поддержка Предоставляем поддержку и консультирование персонально
        менеджера как вам, так и иностранным работникам на всех этапах подбора и
        трудоустройства.
      </li>
      <li class="swiper-slide benefitsSwiper__slide">
        Оценка и подбор кандидатов. Ваши требования к работнику всегда учтены.
        Мы проводим собеседования, интервью и проверяем кандидата , чтобы
        выявить реальные навыки и опыт.
      </li>
    </ul>
    <div class="swiper-pagination benefitsSwiper__pagination"></div>
  </div>
</div>
