<div class="about__container">
  <h2>Преимущества работы с нами:</h2>
  <hr class="about__line partners__line" />
  <div class="swiper benefitsSwiper swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide benefitsSwiper__slide">
        <ul class="partners__incorporationList customScroll">
          <li>
            <span class="about__accent"> Экономия </span>

            времени и ресурсов
          </li>
          <li>
            Осуществляем
            <span class="about__accent"> быстрый </span>
            подбор персонала, в том числе сезонных работников.
          </li>
          <li>
            <span class="about__accent"> Отвечаем </span>

            за все этапы подбора и координацию на этапе трудоустройства.
          </li>
        </ul>
      </div>
      <div class="swiper-slide benefitsSwiper__slide">
        <h3>Гарантия качества:</h3>
        Если подобранный работник не соответствует вашим ожиданиям, мы
        <span class="about__accent"> обеспечиваем </span>
        замену кандидата
        <span class="about__accent"> без дополнительных затрат </span>
        для вас.
      </div>
      <div class="swiper-slide benefitsSwiper__slide">
        <h3>Широкая база кандидатов:</h3>
        Работаем чтобы предоставить вам только
        <span class="about__accent"> проверенных </span>
        работников, которые соответствуют вашим требованиям.
      </div>
      <div class="swiper-slide benefitsSwiper__slide">
        <h3>Поддержка:</h3>
        Предоставляем
        <span class="about__accent"> поддержку и консультирование </span>
        персонально менеджера как вам, так и иностранным работникам на всех
        этапах подбора и трудоустройства.
      </div>
      <div class="swiper-slide benefitsSwiper__slide">
        <h3>Оценка и подбор кандидатов:</h3>
        Ваши
        <span class="about__accent"> требования </span>
        к работнику всегда
        <span class="about__accent"> учтены</span>
        . Мы проводим собеседования, интервью и проверяем кандидата, чтобы
        выявить реальные навыки и опыт.
      </div>
    </div>
  </div>
  <div class="swiper-pagination benefitsSwiper__pagination"></div>
</div>
