<div>
  <h2>Для кандидатов</h2>
  <ul>
    <li>
      <h3>Легальное трудоустройство</h3>
      <ul>
        <li>
          Мы предоставляем полный комплекс услуг по подбору вакансий, оформлению
          документов и официальному трудоустройству с гарантией
        </li>
      </ul>
    </li>
    <li>
      <h3>Подбор вакансии</h3>
      <ul>
        <li>
          Консультация специалиста и предоставление рекомендаций по возможным
          вариантам трудостройства.
        </li>
        <li>
          Формирование предложений для граждан Украины, Молдовы, Грузии и других
          стран в одной из стран ЕС.
        </li>
        <li>Подбор вакансий и подготовка к собеседованию с работодателем.</li>
      </ul>
    </li>
    <li>
      <h3>Оформление на работу</h3>
      <ul>
        <li>
          Консультации и поддержка на каждом этапе процесса трудоустройства.
        </li>
        <li>Профессиональная помощь в оформлении виз и документов.</li>
        <li>
          Индивидуальный инструктаж и помощь с выездом работника на место
          работы.
        </li>
        <li>
          Помощь с адаптацией и поддержка персонального менеджера на протяжении
          всего времени работы.
        </li>
      </ul>
    </li>
  </ul>
</div>
