<div class="about__container">
  <h2>Для кандидатов</h2>
  <hr class="about__line partners__line" />
  <div class="swiper candidatsSwiper swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide candidatsSwiper__slide">
        <h3>Легальное трудоустройство</h3>
        <p>
          Мы предоставляем
          <span class="about__accent"> полный </span>
          комплекс услуг по подбору вакансий, оформлению документов и
          официальному трудоустройству с гарантией
        </p>
      </div>
      <div class="swiper-slide candidatsSwiper__slide">
        <h3>Подбор вакансии</h3>
        <ul class="partners__incorporationList customScroll">
          <li>
            <span class="about__accent"> Консультация </span>
            специалиста и предоставление рекомендаций по возможным вариантам
            трудостройства.
          </li>
          <li>
            <span class="about__accent"> Формирование </span>
            предложений для граждан Украины, Молдовы, Грузии и других стран в
            одной из стран ЕС.
          </li>
          <li>
            <span class="about__accent"> Подбор </span>

            вакансий и подготовка к собеседованию с работодателем.
          </li>
        </ul>
      </div>
      <div class="swiper-slide candidatsSwiper__slide">
        <h3>Оформление на работу</h3>
        <ul class="partners__incorporationList customScroll">
          <li>
            Консультации и поддержка на
            <span class="about__accent"> каждом </span> этапе процесса
            трудоустройства.
          </li>
          <li>
            Профессиональная <span class="about__accent"> помощь </span> в
            оформлении виз и документов.
          </li>
          <li>
            <span class="about__accent"> Индивидуальный </span>
            инструктаж и помощь с выездом работника на место работы.
          </li>
          <li>
            Помощь с адаптацией и поддержка
            <span class="about__accent"> персонального менеджера </span>
            на протяжении всего времени работы.
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="swiper-pagination candidatsSwiper__pagination"></div>
</div>
