<div>
  <h2>Связь с нами</h2>
  <ul>
    <li>
      <h3>Контакты:</h3>
      <ul>
        <li>Email: workpartnermm@gmail.com</li>
        <li>Phone: +380 63 458 2965</li>
        <li>WahtsApp: +380 63 458 2965</li>
      </ul>
    </li>
    <li>
      <h3>Адрес:</h3>
      <p>
        ул. Симона Петлюры, 16, Каменец-Подольский, Хмельницкая область, 32307
      </p>
    </li>
    <li>
      <h3>Рабочие часы:</h3>
      <p>
        <span> ПН - ПТ: 8:00 - 20:00</span>
        <span>​​СБ - ВС: 10:00 - 18:00</span>
      </p>
    </li>
  </ul>
</div>
