<div class="header__container">
  <img
    class="header__logo"
    src="assets/logo_white.webp"
    alt="MPartner logo"
    fetchpriority="high"
  />
  <h1 class="header__title">MPartner</h1>
  <h2 class="header__subTitle">Search and employment</h2>
  <div class="header__contacts">
    <a href="mailto:workpartnermm@gmail.com" class="header__contacts-link">
      <img
        class="header__contacts-icon"
        src="assets/mail-svgrepo-com.svg"
        alt="icon-mail"
      />
    </a>
    <a href="https://wa.me/+380634582965" class="header__contacts-link">
      <img
        class="header__contacts-icon"
        src="assets/whatsapp-svgrepo-com.svg"
        alt="icon-phone"
      />
    </a>
    <a href="tel:+380634582965" class="header__contacts-link">
      <img
        class="header__contacts-icon"
        src="assets/phone-calling-svgrepo-com.svg"
        alt="icon-whatsapp"
      />
    </a>
  </div>
</div>
