<img class="menu__logo" src="/assets/logo_white.png" alt="MPartner logo" />
<nav>
  <ul class="menu__list">
    <li class="menu__list">
      <a href="#" class="menu__link">О нас</a>
    </li>
    <li class="menu__list">
      <a href="#" class="menu__link">Для партнеров</a>
    </li>
    <li class="menu__list">
      <a href="#" class="menu__link">Для кандидатов</a>
    </li>
    <li class="menu__list">
      <a href="#" class="menu__link">Преимущества работы с нами</a>
    </li>
    <li class="menu__list">
      <a href="#" class="menu__link">Контакты</a>
    </li>
  </ul>
</nav>
