<a href="#header" class="menu__link-effect logo__link">
  <img class="logo__icon" src="/assets/logo_white.png" alt="MPartner logo" />
  <h2 class="logo__title">MPartner</h2>
  <h3 class="logo__subTitle">Search and employment</h3>
</a>
<nav>
  <ul class="menu__list">
    <li class="menu__item">
      <a
        href="#about"
        data-content="О нас"
        class="menu__link menu__link-effect menu__link-position"
      >
        О нас
      </a>
    </li>
    <li class="menu__item">
      <a
        href="#partners"
        data-content="Для партнеров"
        class="menu__link menu__link-effect menu__link-position"
        >Для партнеров</a
      >
    </li>
    <li class="menu__item">
      <a
        href="#candidats"
        data-content="Для кандидатов"
        class="menu__link menu__link-effect menu__link-position"
        >Для кандидатов</a
      >
    </li>
    <li class="menu__item">
      <a
        href="#jobs"
        data-content="Вакансии"
        class="menu__link menu__link-effect menu__link-position"
        >Вакансии</a
      >
    </li>
    <li class="menu__item">
      <a
        href="#benefits"
        data-content="Работа с нами"
        class="menu__link menu__link-effect menu__link-position"
        >Работа с нами</a
      >
    </li>
    <li class="menu__item">
      <a
        href="#contacts"
        data-content="Контакты"
        class="menu__link menu__link-effect menu__link-position"
        >Контакты</a
      >
    </li>
  </ul>
</nav>
