<div>
  <h2>Для партнеров:</h2>
  <ul>
    <li>
      <h3>Аутсорсинг</h3>
      <p>
        Привлечение квалифицированных работников для выполнения отдельных задач
        или реализации проектов, кадровое и бухгалтерское сопровождение,
        легализация.
      </p>
    </li>
    <li>
      <h3>Что мы делаем</h3>

      <ul>
        <li>
          Подбираем кандидатов из Украины, Грузии, Молдовы и других стран
          Восточной Европы
        </li>
        <li>
          Проводим собеседование с кандидатами, готовыми выехать на работу за
          границу, чтобы подобрать наиболее подходящего. Международный рекрутинг
          — наш профиль. Пользуясь своей системой отбора и проверки навыков
          работников, мы предоставляем персонал с необходимыми умениями и
          опытом.
        </li>
        <li>
          Благодаря опыту и партнерской базе квалифицированных кандидатов,
          находим персонал в любом количестве.
        </li>
        <li>
          Начинаем поиск уже на этапе подписания договора. Большинство
          кандидатов, которые есть в нашей базе, уже находятся на территории
          Европейского Союза и готовы немедленно приступить к работе.
        </li>
      </ul>
    </li>
    <li>
      <h3>Как начать сотрудничество</h3>

      <ul>
        <li>Заполняете анкету на подбор кандидата</li>
        <li>Подписываете договор о сотрудничестве с нашей компанией</li>
        <li>
          Мы находим идеального кандидата. Вы проводите с ним собеседование и
          согласовываете
        </li>
        <li>Мы готовим документы для легализации</li>
        <li>
          Делегируем работника для официального выполнения работ в вашей
          компании. Полностью ведем сопровождение.
        </li>
        <li>
          Вы рассчитываетесь за выполненные работы ежемесячно или согласно
          договоренности
        </li>
      </ul>
    </li>
  </ul>
</div>
