<div class="about__container">
  <h2>Для партнеров:</h2>
  <hr class="about__line partners__line" />
  <div class="swiper partnersSwiper swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide partnersSwiper__slide">
        <h3 class="partners__secondaryTitle">Аутсорсинг</h3>
        <p class="partners__text">
          Привлечение<span class="about__accent"> квалифицированных</span>
          работников для выполнения отдельных задач или реализации проектов,
          кадровое и бухгалтерское сопровождение, легализация.
        </p>
      </div>
      <div class="swiper-slide partnersSwiper__slide">
        <h3>Что мы делаем</h3>
        <ul class="partners__incorporationList customScroll">
          <li>
            <span class="about__accent">Подбираем </span>
            кандидатов из Украины, Грузии, Молдовы и других стран Восточной
            Европы
          </li>
          <li>
            <span class="about__accent">Проводим </span>
            собеседование с кандидатами, готовыми выехать на работу за границу,
            чтобы подобрать наиболее подходящего.
          </li>
        </ul>
      </div>
      <div class="swiper-slide partnersSwiper__slide">
        <h3>Что мы делаем</h3>
        <ul class="partners__incorporationList customScroll">
          <li>
            <span class="about__accent">Находим </span> персонал в любом
            количестве.
          </li>
          <li>
            Большинство кандидатов, которые есть в нашей базе, уже находятся на
            территории Европейского Союза и готовы
            <span class="about__accent">немедленно </span>
            приступить к работе.
          </li>
        </ul>
      </div>
      <div class="swiper-slide partnersSwiper__slide">
        <h3>Как начать сотрудничество</h3>
        <ul class="partners__incorporationList customScroll">
          <li>
            <span class="about__accent">Заполняете </span> анкету на подбор
            кандидата
          </li>
          <li>
            <span class="about__accent">Подписываете договор </span> о
            сотрудничестве с нашей компанией
          </li>
          <li>
            <span class="about__accent">Мы находим </span> идеального кандидата.
          </li>
        </ul>
      </div>
      <div class="swiper-slide partnersSwiper__slide">
        <h3>Как начать сотрудничество</h3>
        <ul class="partners__incorporationList customScroll">
          <li>
            <span class="about__accent">Мы готовим </span> документы для
            легализации
          </li>
          <li>Делегируем работника для работы.</li>
          <li>
            Вы рассчитываетесь за выполненные работы
            <span class="about__accent">ежемесячно </span> .
          </li>
        </ul>
      </div>
    </div>
    <div class="swiper-pagination partnersSwiper__pagination"></div>
  </div>
</div>
